<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>Multi-User Blog</title>
</head>
<body>
  <a href="/blog" class="u-pull-right">
    No Orange Juice
  </a>
  <br>
  <div class="u-pull-right">
    {% if user %}
      {{user.name}} (<a href="/logout">logout</a>  |
                     <a href="/newpost">newpost</a>)
    {% else %}
      (<a href="/login">login</a>  |
       <a href="/signup">signup</a>)
    {% endif %}
  </div>
  <br>
  <hr>
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
