{% extends "base.html" %}
{% block content %}
  <div class="twelve columns">
    <h3>Edit Comment</h3>
      <hr>
      <div class="row">
        <div class="twelve columns">
          <div class="u-pull-left">
            <small>Posted by {{comment.user.name}} on {{comment.created.strftime("%b %d, %Y")}}</small>
          </div>
          <hr>
        <form method="post">
           <label>
             <textarea class="u-full-width" name="content" id="texta2">{{comment_text}}</textarea>
           </label>
           <div class="error">{{post_error}}</div>
           <input type="submit" class="button" name="update" value="Update">
           <input type="submit" class="button" name="cancel" value="Cancel">
         </form>
         </div>
       </div>
     </div>
{% endblock %}
