{% extends "base.html" %}
{% block content %}
  <div class="twelve columns">
    <h3>Edit Comment</h3>
    <hr>
      <div class="row">
        <div class="twelve columns">
        <form method="post">
           <label>
             <textarea class="u-full-width" name="comment_text" id="texta2">{{comment_text}}</textarea>
           </label>
           <div class="error">{{edit_error}}</div>
           <input type="submit" class="button" name="update_comment" value="Update">
           <input type="submit" class="button" name="cancel" value="Cancel">
         </form>
         </div>
       </div>
     </div>
{% endblock %}
