{% block content %}
  <div class="row">
    <div class="twelve columns">
      <div class="twelve columns">
        {{post.content | safe}}
        <br>
      </div>
      <div class="twelve columns">
        <br>
          {% if user %}
            <form method="POST">
                <input type="submit" class="button" name='like' value='{{likes}} likes'>
                <input type="submit" class="button" name='unlike' value='{{unlikes}} unlikes'>
                <input type="submit" class="button" name='edit' value='edit'>
                <input type="submit" class="button" name='delete' value='delete'>
            </form>
            <span class="alert-danger">{{error}}</span>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
